:root {
  --primary-color: #fbfbfb;
  --secondary-color: #0c0c0c;
  --accent-color: #3350e9;
  --hover-color: #1f3cd4;

  --bgr-section-color: #f3f3f3;

  font-family: 'Gilroy', sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
