.catalog-section-title {
  margin-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 16px;
  margin-bottom: 40px;
}

.catalog-list-item {
  border-radius: 30px;
  background-color: var(--cards-color);
  border: 1px solid rgba(12, 12, 12, 0.05);
  padding: 24px 28px;
}

.catalog-list-img {
  margin-bottom: 18px;
  width: 100%;
}

.catalog-img-wrapper {
  padding-top: 18px;
  padding-left: 35px;
  padding-bottom: 18px;
  padding-right: 36px;
  margin-bottom: 10px;
}

.catalog-img {
  width: 208px;
}

.catalog-info-wrapper {
  text-align: left;
}

.catalog-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--main);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

.catalog-list-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  display: block;
}

.catalog-list li:nth-child(n + 5) {
  display: none;
}

.catalog-button {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  background-color: var(--accent);
  color: var(--background);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: var(--hover-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .catalog-button {
    display: none;
  }

  .catalog-list li:nth-child(n + 5) {
    display: block;
  }
  .catalog-section-title {
    margin-bottom: 40px;
  }

  .catalog-list {
    row-gap: 32px;
    margin-bottom: 0;
  }

  .catalog-list-item {
    width: calc((100% - 16px) / 2);
    justify-content: center;
    padding: 24px 32px;
  }

  .catalog-img-wrapper {
    padding-top: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-right: 6px;
  }

  .catalog-img {
    width: 268px;
    height: 292px;
  }

  .catalog-list-name {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list {
    column-gap: 23px;
  }

  .catalog-img-wrapper {
    padding: 0;
  }

  .catalog-img {
    width: 304px;
    height: 312px;
  }

  .catalog-list-item {
    width: calc((100% - 46px) / 3);
  }
}
