.footer {
  border-radius: 30px;
  background-color: var(--main);
  color: var(--background);
  padding-top: 40px;
  padding-bottom: 28px;
}

.footer-container {
  position: relative;
  padding-left: 28px;
  padding-right: 28px;
}

.footer-row-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;
}

.footer-logo-social-links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 40px;
}

.footer-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 34px;
  width: 34px;
  border: 1px solid rgba(251, 251, 251, 0.1);
}

.footer-social-list-icon {
  fill: rgba(251, 251, 251, 0.5);
  width: 18px;
  height: 18px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  stroke: var(--hover-color);
  fill: var(--background);
}

.footer-contact-link {
  width: 152px;
  padding-top: 14px;
  padding-bottom: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--background);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  background-color: var(--background);
  color: var(--main);
}

.footer-credo {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--cards-color);
}

.footer-menu {
  max-width: 147px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
}

.footer-menu-item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 4px;
  padding-bottom: 4px;
}

.footer-menu-item-link:hover,
.footer-menu-item-link:focus {
  color: var(--accent);
}

.footer-text-year {
  width: 83px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.footer-nenu-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.footer-copyright-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-service {
  display: flex;
  column-gap: 20px;
}

.footer-scroll {
  position: absolute;
  font-family: inherit;
  bottom: 0;
  right: 28px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: transparent;
  color: rgba(251, 251, 251, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-scroll:hover {
  color: var(--background);
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-row-one {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 86px;
    margin-bottom: 100px;
  }

  .footer-logo-social-links,
  .footer-address {
    margin-bottom: 0;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-social-list-link {
    height: 36px;
    width: 36px;
  }

  .footer-social-list-icon {
    width: 20px;
    height: 20px;
  }

  .footer-contact-link {
    width: 160px;
    font-size: 14px;
    line-height: 1.29;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer-credo {
    max-width: 524px;
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 100px;
  }

  .footer-nenu-navigation-wrapper {
    margin-bottom: 56px;
  }

  .footer-menu {
    max-width: 400px;
    column-gap: 19px;
  }

  .footer-menu-item-link {
    font-size: 14px;
    line-height: 1.3;
  }

  .footer-text-year {
    width: 162px;
    font-size: 14px;
    line-height: 1.3;
  }

  .footer-copyright-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
  }

  .footer-scroll {
    bottom: 35px;
    right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-section > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-container {
    padding-left: 72px;
    padding-right: 72px;
  }

  .footer-row-one {
    margin-bottom: 126px;
  }

  .footer-credo {
    width: 523px;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-align: center;
    order: 2;
  }

  .footer-address {
    order: 3;
  }

  .footer-menu {
    max-width: 505px;
    column-gap: 40px;
  }

  .footer-menu-item-link {
    font-size: 14px;
    line-height: 1.3;
  }

  .footer-scroll {
    right: 72px;
  }
}
