.hero-section {
  padding-top: 60px;
}

.hero-title-photo-wrapper {
  margin-bottom: 28px;
}

.hero-text-wrapper {
  width: 100%;
  margin-bottom: 28px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: var(--main);
  margin-bottom: 20px;
}

.hero-title-accent {
  color: var(--accent);
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-images-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-photos-list {
  min-width: 108px;
  position: relative;
  padding: 0;
  margin: 0;
}

.hero-photos-list > :nth-child(n + 2) {
  position: absolute;
}

.hero-photos-list > :nth-child(2) {
  top: 0;
  left: 32px;
}

.hero-photos-list > :nth-child(3) {
  top: 0;
  left: 64px;
}

.hero-photo {
  border-radius: 100%;
}

.hero-scroll {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: transparent;
  color: var(--main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover {
  color: var(--accent);
}

.hero-img-wrapper {
  width: 335px;
  border-radius: 30px;
}

.hero-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 80px;
  }

  .hero-title-photo-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-text-wrapper {
    width: 557px;
    margin-bottom: 0;
  }

  .hero-title {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-images-wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero-photos-list {
    width: 136px;
  }

  .hero-photos-list > :nth-child(2) {
    left: 41px;
  }

  .hero-photos-list > :nth-child(3) {
    left: 80px;
  }

  .hero-scroll {
    font-size: 20px;
    line-height: 1;
  }

  .hero-img-wrapper {
    width: 704px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text-wrapper {
    width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 0.87;
  }

  .hero-photos-list {
    width: 146px;
  }

  .hero-photos-list > :nth-child(2) {
    left: 44px;
  }

  .hero-photos-list > :nth-child(3) {
    left: 86px;
  }

  .hero-scroll {
    font-size: 20px;
    line-height: 1;
  }

  .hero-img-wrapper {
    width: 1150px;
  }
}
