<section class="section">
  <div class="container about-container">
    <div class="about-info-wrapper">
      <h2 class="section-title about-section-title">About Us</h2>
      <ul class="about-info">
        <li class="about-info-item">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist.
        </li>
        <li class="about-info-item">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device - it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </li>
      </ul>
      <span class="about-view-wrapper"
        ><a class="about-view" href="#">View catalog</a></span
      >
    </div>
    <div class="about-image-wrapper">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about/about-desktop@1x.webp  530w,
            ./img/about/about-desktop@2x.webp 1060w
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/about-tablet@1x.webp  704w,
            ./img/about/about-tablet@2x.webp 1408w
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about/about-mobile@1x.webp 335w,
            ./img/about/about-mobile@2x.webp 670w
          "
        />
        <img
          class="about-image"
          src="./img/about/about-mobile@1x.webp"
          sizes="(min-width: 1280px) 530px, (min-width: 768px) 704px, (max-width: 767px) 335px"
          alt="watch photo"
        />
      </picture>
      <div id="id-catalog"></div>
    </div>
  </div>
</section>
