<section class="section catalog-section">
  <div class="container catalog-container">
    <h2 class="section-title catalog-section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w1@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w1@2x.webp 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w1@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w1@2x.webp 2x
              "
              media="(min-width:768px) and (max-width:1279px)"
            />
            <source
              srcset="
                ./img/catalog/mobile/catalog-mobile-w1@1x.webp 1x,
                ./img/catalog/mobile/catalog-mobile-w1@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/catalog-mobile-w1@1x.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
            />
          </picture>
        </div>
        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-list-price">€500</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w2@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w2@2x.webp 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w2@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w2@2x.webp 2x
              "
              media="(min-width:768px) and (max-width:1279px)"
            />
            <source
              srcset="
                ./img/catalog/mobile/catalog-mobile-w2@1x.webp 1x,
                ./img/catalog/mobile/catalog-mobile-w2@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/catalog-mobile-w2@1x.webp"
              alt="Garmin Marq Athlete €450"
            />
          </picture>
        </div>
        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">Garmin Marq Athlete €450</h3>
          <p class="catalog-list-price">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w3@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w3@2x.webp 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w3@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w3@2x.webp 2x
              "
              media="(min-width:768px) and (max-width:1279px)"
            />
            <source
              srcset="
                ./img/catalog/mobile/catalog-mobile-w3@1x.webp 1x,
                ./img/catalog/mobile/catalog-mobile-w3@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/catalog-mobile-w3@1x.webp"
              alt="Garmin Descent MK1"
            />
          </picture>
        </div>
        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">Garmin Descent MK1</h3>
          <p class="catalog-list-price">€680</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w4@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w4@2x.webp 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w4@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w4@2x.webp 2x
              "
              media="(min-width:768px) and (max-width:1279px)"
            />
            <source
              srcset="
                ./img/catalog/mobile/catalog-mobile-w4@1x.webp 1x,
                ./img/catalog/mobile/catalog-mobile-w4@2x.webp 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/mobile/catalog-mobile-w4@1x.webp"
              alt="Garmin D2 Delta PX"
            />
          </picture>
        </div>

        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">Garmin D2 Delta PX</h3>
          <p class="catalog-list-price">€380</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w5@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w5@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w5@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w5@2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/tablet/catalog-tablet-w5@1x.webp"
              alt="Garmin Fenix 6 Pro Solar"
            />
          </picture>
        </div>
        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-list-price">€400</p>
        </div>
      </li>

      <li class="catalog-list-item">
        <div class="catalog-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/catalog/desktop/catalog-desktop-w6@1x.webp 1x,
                ./img/catalog/desktop/catalog-desktop-w6@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/tablet/catalog-tablet-w6@1x.webp 1x,
                ./img/catalog/tablet/catalog-tablet-w6@2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              class="catalog-img"
              src="./img/catalog/tablet/catalog-tablet-w6@1x.webp"
              width="268"
              alt="Tube Watch S42 Date Steel With Black Case"
            />
          </picture>
        </div>
        <div class="catalog-info-wrapper">
          <h3 class="catalog-list-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-list-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show More</button>
  </div>
</section>
