<header class="header-page">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">watchcharm</a>
      <ul class="header-menu">
        <li>
          <a
            href="./index.html"
            class="header-menu-item-link header-menu-item-link-active"
            >Home</a
          >
        </li>
        <li>
          <a href="#" class="header-menu-item-link">About Us</a>
        </li>
        <li><a href="#" class="header-menu-item-link">Catalog</a></li>
        <li><a href="#" class="header-menu-item-link">Sale</a></li>
        <li><a href="#" class="header-menu-item-link">Reviews</a></li>
        <li><a href="#" class="header-menu-item-link">Contact Us</a></li>
      </ul>
    </nav>

    <ul class="header-social-list list">
      <li class="header-social-list-item">
        <a
          class="header-social-list-link"
          target="_blank"
          href="https://www.facebook.com/goITclub/"
        >
          <svg
            class="header-social-list-icon"
            width="20"
            height="20"
            aria-label="facebook icon"
          >
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          class="header-social-list-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
        >
          <svg
            class="header-social-list-icon"
            width="20"
            height="20"
            aria-label="instagram icon"
          >
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-list-item">
        <a
          class="header-social-list-link"
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
        >
          <svg
            class="header-social-list-icon"
            width="20"
            height="20"
            aria-label="youtube icon"
          >
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="header-mobile-menu-button js-open-mobile-menu-button"
    >
      <svg class="header-mobile-menu-icon" aria-label="mobile menu button icon">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
