<section class="section hero-section">
  <div class="container">
    <div class="hero-title-photo-wrapper">
      <div class="hero-text-wrapper">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-accent">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-images-wrapper">
        <ul class="hero-photos-list">
          <li class="hero-photo-wrapper">
            <img
              class="hero-photo"
              srcset="
                ./img/hero/photo/mobile/hero-mobile-photo1@1x.jpg    44w,
                ./img/hero/photo/mobile/hero-mobile-photo1@2x.jpg    88w,
                ./img/hero/photo/tablet/hero-tablet-photo1@1x.jpg    56w,
                ./img/hero/photo/tablet/hero-tablet-photo1@2x.jpg   112w,
                ./img/hero/photo/desktop/hero-desktop-photo1@1x.jpg  60w,
                ./img/hero/photo/desktop/hero-desktop-photo1@2x.jpg 120w
              "
              sizes="(min-width:1280px) 60px, (min-width:768px) 56px, (max-width:767px) 44px"
              src="./img/hero/photo/mobile/hero-mobile-photo1@1x.jpg"
              alt="hero-1 photo"
            />
          </li>
          <li class="hero-photo-wrapper">
            <img
              class="hero-photo"
              srcset="
                ./img/hero/photo/mobile/hero-mobile-photo2@1x.jpg    44w,
                ./img/hero/photo/mobile/hero-mobile-photo2@2x.jpg    88w,
                ./img/hero/photo/tablet/hero-tablet-photo2@1x.jpg    56w,
                ./img/hero/photo/tablet/hero-tablet-photo2@2x.jpg   112w,
                ./img/hero/photo/desktop/hero-desktop-photo2@1x.jpg  60w,
                ./img/hero/photo/desktop/hero-desktop-photo2@2x.jpg 120w
              "
              sizes="(min-width:1280px) 60px, (min-width:768px) 56px,        
        (max-width:767px) 44px"
              src="./img/hero/photo/mobile/hero-mobile-photo1@1x.jpg"
              alt="hero-2 photo"
            />
          </li>
          <li class="hero-photo-wrapper">
            <img
              class="hero-photo"
              srcset="
                ./img/hero/photo/mobile/hero-mobile-photo3@1x.jpg    44w,
                ./img/hero/photo/mobile/hero-mobile-photo3@2x.jpg    88w,
                ./img/hero/photo/tablet/hero-tablet-photo3@1x.jpg    56w,
                ./img/hero/photo/tablet/hero-tablet-photo3@2x.jpg   112w,
                ./img/hero/photo/desktop/hero-desktop-photo3@1x.jpg  60w,
                ./img/hero/photo/desktop/hero-desktop-photo3@2x.jpg 120w
              "
              sizes="(min-width:1280px) 60px, (min-width:768px) 56px,        
        (max-width:767px) 44px"
              src="./img/hero/photo/mobile/hero-mobile-photo1@1x.jpg"
              alt="hero-3 photo"
            />
          </li>
        </ul>
        <button class="hero-scroll js-hero-scroll">Scroll down</button>
      </div>
    </div>
    <div class="hero-img-wrapper">
      <img
        class="hero-img"
        srcset="
          ./img/hero/bgr/hero-mobile-bgr@1x.webp   335w,
          ./img/hero/bgr/hero-mobile-bgr@2x.webp   670w,
          ./img/hero/bgr/hero-tablet-bgr@1x.webp   704w,
          ./img/hero/bgr/hero-tablet-bgr@2x.webp  1408w,
          ./img/hero/bgr/hero-desktop-bgr@1x.webp 1150w,
          ./img/hero/bgr/hero-desktop-bgr@2x.webp 2300w
        "
        sizes="(min-width:1280px) 1150px, (min-width:768px) 704px,        
        (max-width:767px) 335px"
        src="./img/hero/bgr/hero-mobile-bgr@1x.webp"
        alt="Magic Watch"
      />
    </div>
    <div id="id-about"></div>
  </div>
</section>
