<div class="mobile-menu js-mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn js-close-mobile-menu-button">
      <svg
        class="mobile-menu-close-icon"
        width="36"
        height="36"
        aria-label="mobile menu close icon"
      >
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>

    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li>
          <a
            href="./index.html"
            class="mobile-menu-item-link mobile-menu-item-link-active"
            >Home</a
          >
        </li>

        <li>
          <a href="./" class="mobile-menu-item-link">About Us</a>
        </li>

        <li>
          <a href="#id-about" class="mobile-menu-item-link">Catalog</a>
        </li>

        <li><a href="#id-sale" class="mobile-menu-item-link">Sale</a></li>

        <li>
          <a href="#id-reviews" class="mobile-menu-item-link">Reviews</a>
        </li>

        <li>
          <a href="#id-contact" class="mobile-menu-item-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-social-list list">
      <li class="mobile-social-list-item">
        <a
          class="mobile-social-list-link"
          target="_blank"
          rel="noopener"
          href="https://www.facebook.com/goITclub/"
        >
          <svg class="mobile-social-list-icon" aria-label="facebook icon">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a
          class="mobile-social-list-link"
          target="_blank"
          rel="noopener"
          href="https://www.instagram.com/goitclub/"
        >
          <svg class="mobile-social-list-icon" aria-label="instagram icon">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a
          class="mobile-social-list-link"
          target="_blank"
          rel="noopener"
          href="https://www.youtube.com/c/GoIT"
        >
          <svg class="mobile-social-list-icon" aria-label="youtube icon">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
