<section class="section" id="id-reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-section-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/review-john@1x.jpg,
            ./img/reviews/review-john@2x.jpg
          "
          src="/img/reviews/review-john@1x.jpg"
          alt="John Wax avatar"
          width="56"
          height="56"
        />
        <div class="reviews-list-item-infor">
          <h3 class="reviews-list-fullname">John Wax</h3>
          <p class="reviews-list-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>

      <li class="reviews-list-item">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/review-victoria@1x.jpg,
            ./img/reviews/review-Victoria@1x.jpg
          "
          src="./img/reviews/review-victoria@1x.jpg"
          alt="Victoria Romashenko avatar"
          width="56"
          height="56"
        />
        <div class="reviews-list-item-infor">
          <h3 class="reviews-list-fullname">Victoria Romashenko</h3>
          <p class="reviews-list-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>

      <li class="reviews-list-item">
        <img
          class="reviews-list-avatar"
          srcset="
            ./img/reviews/review-anastasia@1x.jpg,
            ./img/reviews/review-anastasia@1x.jpg
          "
          src="./img/reviews/review-anastasia@1x.jpg"
          alt="Anastasia Trachuk avatar"
          width="56"
          height="56"
        />

        <div class="reviews-list-item-infor">
          <h3 class="reviews-list-fullname">Anastasia Trachuk</h3>
          <p class="reviews-list-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
