<section class="section">
  <div class="container">
    <h2 class="section-title catalog-section-title" id="id-sale">Sale</h2>
    <div class="sale-container">
      <div class="sale-images-wrapper">
        <ul class="sale-racurses">
          <li class="sale-racurses-item">
            <img
              srcset="
                ./img/sale/desktop/sale-desktop-prod1@1x.png  96w,
                ./img/sale/desktop/sale-desktop-prod1@2x.png 192w,
                ./img/sale/mobile/sale-mobile-prod1@1x.png    52w,
                ./img/sale/mobile/sale-mobile-prod1@2x.png   104w
              "
              sizes="(min-width: 768px) 96px, 
               (max-width: 767px) 52px"
              src="./img/sale/mobile/sale-mobile-prod1@1x.png"
              alt="racurs 1"
            />
          </li>
          <li class="sale-racurses-item">
            <img
              srcset="
                ./img/sale/desktop/sale-desktop-prod2@1x.png  96w,
                ./img/sale/desktop/sale-desktop-prod2@2x.png 192w,
                ./img/sale/mobile/sale-mobile-prod2@1x.png    52w,
                ./img/sale/mobile/sale-mobile-prod2@2x.png   104w
              "
              sizes="(min-width: 768px) 96px, 
               (max-width: 767px) 52px"
              src="./img/sale/mobile/sale-mobile-prod2@1x.png"
              alt="racurs 2"
            />
          </li>
          <li class="sale-racurses-item">
            <img
              srcset="
                ./img/sale/desktop/sale-desktop-prod3@1x.png  96w,
                ./img/sale/desktop/sale-desktop-prod3@2x.png 192w,
                ./img/sale/mobile/sale-mobile-prod3@1x.png    52w,
                ./img/sale/mobile/sale-mobile-prod3@2x.png   104w
              "
              sizes="(min-width: 768px) 96px, 
               (max-width: 767px) 52px"
              src="./img/sale/mobile/sale-mobile-prod3@1x.png"
              alt="racurs 3"
            />
          </li>
          <li class="sale-racurses-item">
            <img
              srcset="
                ./img/sale/desktop/sale-desktop-prod4@1x.png  96w,
                ./img/sale/desktop/sale-desktop-prod4@2x.png 192w,
                ./img/sale/mobile/sale-mobile-prod4@1x.png    52w,
                ./img/sale/mobile/sale-mobile-prod4@2x.png   104w
              "
              sizes="(min-width: 768px) 96px, (max-width: 767px) 52px"
              src="./img/sale/mobile/sale-mobile-prod4@1x.png"
              alt="racurs 4"
            />
          </li>
        </ul>
        <div class="sale-big-img-wrapper">
          <img
            class="sale-big-img"
            srcset="
              ./img/sale/desktop/sale-desktop-big@1x.webp 328w,
              ./img/sale/desktop/sale-desktop-big@2x.webp 656w,
              ./img/sale/mobile/sale-mobile-big@1x.webp   235w,
              ./img/sale/mobile/sale-mobile-big@2x.webp   470w
            "
            sizes="(min-width: 768px) 328px, 
               (max-width: 767px) 235px"
            src="./img/sale/mobile/sale-mobile-big@1x.webp"
            alt="Big whatch photo"
          />
        </div>
      </div>
      <div class="sale-info-wrapper">
        <h3 class="sale-info-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-product-tag">Product tag: 706587</p>
        <div class="sale-prices">
          <p class="sale-new-price">€1500</p>
          <p class="sale-old-price">€3000</p>
        </div>
        <p class="sale-info">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-products-list">
          <li class="sale-products-item"><p>Fused carbon fiber</p></li>
          <li class="sale-products-item"><p>F Grade-5 Titanuim</p></li>
          <li class="sale-products-item"><p>Athlete</p></li>
          <li class="sale-products-item"><p>Golfer</p></li>
          <li class="sale-products-item"><p>Commander</p></li>
          <li class="sale-products-item"><p>Adventurer</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
